[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

virtualenv = "==1.11.6"
"virtualenv-clone" = "==0.2.5"
"pythonz-bd" = {"version" = "*", "sys_platform" = "!='win32'" }
"shellingham" = {"version" = "*", "sys_platform" = "=='win32'" }

[dev-packages]

pytest = "==2.6.2"
