[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

virtualenv = ">=1.11"
"virtualenv-clone" = ">=0.2.5"
"pythonz-bd" = {"version" = ">1.10.2", "sys_platform" = "!='win32'" }
"shellingham" = {"version" = "*", "sys_platform" = "=='win32'" }

[dev-packages]

pytest = "*"
